spring:
  datasource:
    url: jdbc:postgresql://3.35.4.31:5432/bapsim
    username: bapsim_user
    password: bapsim1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: never